@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Open+Sans:ital@0;1&family=Poppins:wght@400;500&display=swap');
*{
    margin: 0%;
    padding: 0%;

}
body{
    font-family: 'Poppins', sans-serif;
}
header{
   padding: 10px;
   width: 100%;
  background: rgba(255, 144, 14, 0.1);
}
 /* ------------------
 architects-intro model style
 ------------------------ */

.architects-intro{
    display: flex;
    justify-content: space-between;
    margin: 0px 25px;
}
.architects-text{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    width: 65%;
}
.architects-link{
    margin-top: 25px;
}
.architects-name{
    margin-top: 20px;
}
.architects-link{
    text-decoration: none;
    list-style: none;
    margin: 25px 20px;
    display: flex;
    gap: 15px;
}
.architects-link li a{
    text-decoration: none;
    color: #131313;
}
.architects-header{
    justify-content: center;
}
.architects-title{
    font-weight: 700;
    font-size: 5vh;
    color: #131313;
}
.architects-details{
    font-weight: 400;
    font-size: 16px;
    color: #727272;
}
.button-explore{
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
}
.button-primary{
    margin-left: 18px;
    padding: 5px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    background-color: #FF900E;
    color: #FFFF;

}
.architech-banner{
    margin: 0 auto;
    display: flex;
    justify-content: center;
    margin-top: 45px;
}
.architech-banner img{
    width: 90%;
    
}
/*-----------------------
 architects-intro model end 
-------------------------------- */

/* architects-intro resondive style  */
.hide{
    display: none;
}

@media only screen and (max-width: 576px) {
        
        .architech-intro{
            flex-direction: column;
        }
        .architects-link{
            display: flex;
            flex-direction: column;
        }
        .architects-title{
            justify-content: center;
        }
        .architects-details{
            justify-content: center;    
        }

}

/* --------------------------
features collection style start here
------------------------------ */
.features{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 10px;
    margin-top: 75px;
    margin-left: 85px;
    justify-content: space-between;
}
.features-banner{
    width: fit-content;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}
.features-info{
    margin-top: 213px;
    margin-left: 60px;
}
.features-title{
    font-weight: 500;
    font-size: 40px;
    line-height: 63px;
    margin-bottom: 10px;
}

#quic{
    color: #727272;
}
#our{
    color: #131313;
}
#features{
    color: #FF900E;
}
.features-details{
    width: 372px;
    font-weight: 400;
    font-size: 11px;
    margin-top: 18px;
   color: #727272;
}
.features-button{
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
}
.button-details{
    height: 60px;
    width: 153px;
    margin-top: 30px;
    margin-left: -492px;
    padding: 5px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    background-color: #FF900E;
    color: #FFFF;
}

@media only screen and (max-width: 576px) {
    .features{
        grid-template-columns: repeat(1, 1fr);
        justify-content: center;
    }
    .features-banner{
        grid-template-columns: repeat(1, 1fr);
    }

}
/* --------------------------------
features collection style end here
 -----------------------------------*/

 /* ..............................
 all features colection style 
 ................................ */
.all-features{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 96px;
    align-items: center;
}
.enjoy-features{
    height: 800px;
    width: 50%;
    margin-left: 85px;
    margin-top: 98px;
}
.enjoy-title{
    display: flex;
}
.title-border{
    width: 5px;
    height: 106px;
    background: #FF900E;
}
.enjoy-title-name{
    position: absolute;
    width: 52%;
    height: 106px;
    left: 116px;
    top: 2164px;
    font-size: 44px;
    line-height: 53px;
    color: rgb(19, 19, 19);
}
.enjoy-title-details{
    width: 56%;
    height: 78px;
    left: 268px;
    margin-top: 122px;
    font-weight: 400;
    font-size: 9px;
    line-height: 15px;
    color: #727272;
}
.features-desktop{
    height: 96px;
    width: 100%;
    box-shadow: 2px 2px 2px 2px;
    color: #d9d9d9;
    border-radius: 3px;
    margin-bottom: 20px;
    padding: 10px;
}
.desktop-title{
    font-weight: 600;
    font-size: 12px;
    line-height: 37px;
    color: #131313;
}
.desktop-details{
    font-weight: 400;
    font-size: 11px;
    line-height: 20px;
    color: #727272;
}
.features-banner img{
    position: relative;
    width: 100%;

}
.fact{
    margin-left: 95px;
}
@media only screen and (max-width: 576px) {
    .all-features{
        grid-template-columns: repeat(1, 1fr);
    }
    
}
/* -------------------------------
year experience style
 ---------------------- */
.year{
    position: absolute;
    height: 113px;
    width: 214px;
    border-radius: 8px;
    text-align: center;
    background-color: #FF900E;
    color: #fffefe;
    margin-top: -338px;
    margin-left: 649px;
    text-align: center;
}
.year-details{
    text-align: center;
    margin-top: 20px;
}
.year-title{
    font-size: 20px;
}
.fact-title{
    width: 258px;
    height: 53px;
    left: 240px;
    font-weight: 700;
    font-size: 25px;
    line-height: 53px;
    color: #131313;
}
.fact-details{
    font-weight: 400;
    font-size: 15px;
    line-height: 23px;
    width: 646px;
    color: #727272;
}

/* ........................................
features collection style end
..................................... */

/* ............................
our achivment things
............................ */
.achivment{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    justify-content: center;
    gap: 140px;
    margin-left: 111px;
    margin-top: 103px;
}
.award{
    height: 140px;
    width: 140px;
    border: 2px solid #FF900E;
}
.award-banner{
    padding: 11px 43px;
}
.award-condition{
    text-align: center;
    font-size: 16px;
    line-height: 58px;
    color: #727272;
}
.award-digit{
    font-weight: 600;
    font-size: 25px;
    line-height: 17px;
    text-align: center;
    color: #424242;
}
@media only screen and (max-width: 576px) {
    .achivment{
        grid-template-columns: repeat(1, 1fr);
    }
}
/* .......................
 our achivment style end here
.................................. */

/* ...............................
sponsor site style start 
..................................... */
.sponsor{
   justify-content: center;
    margin-top: 10px;
}
.sponsor-title{
    position: absolute;
    width: 327px;
    height: 53px;
    left: 659px;
    top: 3450px;
    font-size: 36px;
    line-height: 53px;
    color: #131313;
}
.sponsor-details{
    position: absolute;
    width: 542px;
    height: 52px;
    left: 574px;
    top: 3528px;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    color: #727272;
}
.sponsor-banner{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    margin-top: 357px;
    gap: 76px;
}
@media only screen and (max-width: 576px) {
    .sponsor-banner{
        grid-template-columns: repeat(1, 1fr);
        align-items: center;
    }
}
/* ................................
sponsor style end here 
.............................. */

.copyright{
    position: absolute;
    width: 1082px;
    height: 65px;
    left: 240px;
    top: 3866px;
    background: #FFF4E7;
    border-radius: 8px;
}
.copyright-details{
    position: absolute;
    width: 620px;
    height: 23px;
    left: 267px;
    top: 38px;
    font-weight: 400;
    font-size: 16px;
    line-height: 23px;
    text-align: center;
    color: #424242;

}